@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --header-bg: #fffbf6;
    --sidemenu-bg: #ece5dd;
    --transparent-one: #00000067;
    --transparent-two: #00000093;
    --transparent-three: #39393948;
    --footer-contact: #a3a7c0;
}

::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background-color: var(--sidemenu-bg);
}
::-webkit-scrollbar-thumb{
    background-color: #0C4A6E;
    border-radius: 10px;
}

.transitive-underline {
    position: relative;
    display: inline-block; /* Ensures the effect only spans the text */
    cursor: pointer;
}

.transitive-underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.25px;
    background-color: #F67F21;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.4s ease-in-out;
}

.transitive-underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom right;
}

/* Optional: Keep underline when active */
.transitive-underline:active::after {
    transform: scaleX(1);
}
@media (min-width: 1500px){
    .container{
        max-width: 1340px;
    }
}
@media (max-width: 1499px) {
    .container{
        max-width: 83vw;
    }
}
@media (max-width: 1360px) {
    .container{
        max-width: 85vw;
    }
}
@media (max-width: 1200px) {
    .container{
        max-width: 88vw;
    }
}